---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
{%- for item in collections.sitemap %}
    {%- set itemUrl = item.url | trim %}
    {%- if itemUrl %}
    <url>
        <loc>https://sahebansari.com{{ itemUrl }}</loc>
        {%- if item.date %}
        <lastmod>{{ item.date | htmlDateString }}</lastmod>
        {%- endif %}
        {%- if itemUrl == '/' or itemUrl == '/blog/' %}
        <priority>1.0</priority>
        <changefreq>daily</changefreq>
        {%- elif itemUrl == '/about/' %}
        <priority>0.9</priority>
        <changefreq>monthly</changefreq>
        {%- elif item.data.layout == 'post' %}
        <priority>0.8</priority>
        <changefreq>weekly</changefreq>
        {%- else %}
        <priority>0.5</priority>
        <changefreq>monthly</changefreq>
        {%- endif %}
        {%- if item.data.image and (item.pageType == 'post' or item.pageType == 'home') %}
        <image:image>
            <image:loc>{{ item.data.image }}</image:loc>
            <image:title>{{ item.data.title }}</image:title>
        </image:image>
        {%- endif %}
    </url>
    {%- endif %}
{%- endfor %}
</urlset>


